.cartitem{
    margin:100px 170px;
}
.cartitem hr{
    height: 2px;
    background-color: rgb(221, 221, 221);
    border: none;
}
.cart-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 40px 10px;
    color:rgb(24, 20, 20);
    font-size: 15px;
    font-weight: 600;
}
.format{
    font-size: 16px;
    font-weight: 500;
}
.img-cart{
    height: 65px;
}
.cart-remove{
    width:14px ;
    margin: 0 40px;
    cursor: pointer;
}
.quantity{
    width: 64px;
    height: 30px;
    border: 2px ;
}
.cart-down{
    display:flex;
    margin: 100px 0;
}
.total-cart{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap:40px;
}
.total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.total-cart button{
    width:250px;
    height: 58px;
    outline: none;
    border: none;
    background-color:rgb(230, 183, 230);
    cursor: pointer;
}
.cart-promocode{
    flex:1;
    font-size: 16px;
    font-weight: 500;
}
.cart-promocode p{
    color: rgb(48, 47, 47);
}
.promobox{
    width: 385px;
    margin-top:10px;
    padding-left: 20px;
    height: 50px;
    background-color: rgb(234, 222, 234);
}
.promobox input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 17px;
    width: 280px;
    height: 45px;
}
.promobox button{
    width: 100px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(47, 46, 46);
    border-radius: 5px;
    color: rgb(157, 90, 157);
    border: none;
    cursor: pointer;
}
@media(max-width:1280px) {
    .cartitem{
        margin: 60px 50px;
    }
    .cart-format{
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 0px;
        font-size: 15px;
    }
   .img-cart{
        height: 50px;
   }
   .cart-remove{
        margin: auto;
   }
   .quantity{
        width: 30px;
        height: 30px;
   }
   .cart-down{
        margin: 80px 0px;
        flex-direction: column;
        gap: 80px;
   }
   .total-cart{
        margin: 0;
   }
   .total-cart  button{
        max-width: 200px;
        height: 45px;
        font-size: 13px;
   }
   .promobox{
        width: auto;
        max-width: 385px;
   }
   .promobox input{
        width: 100%;
   }
   .promobox button{
        width: 100px;
        margin-left: -104px;
   }
}
@media(max-width:500px) {
    .main{
        display: none;
    }
    .cart-format{
        display: gird;
        grid-template-columns: .5fr 3fr .5fr;
        gap: 20px;
    }
}
