.offers{
    width: 80%;
    height: 50vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    border-radius: 5% 10% 20% 73%/60%;
    margin-bottom: 130px;
    background: linear-gradient(180deg,rgb(243, 205, 246), rgb(249, 235, 235) 60%);
}
.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text inside the div */
}

.offers-left h1{
    color:rgb(21, 17, 17);
    
    font-size: 40px;
    font-weight: 500;
    width: 80%;
}
.offers-left p{
    color:rgb(23, 18, 18);
    font-size: 20px;
    font-weight: 400;
}
.offers-left  button{
    width: 200px;
    height: 40px;
    border-radius: 35px;
    background: rgb(137, 104, 140);
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    border:none;
    align-items: center;
}
.offers-left button:hover{
    background-color: rgb(145, 105, 183);
    color: white;
}
.offers-right{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;   
}
.offers-right img{
    height: 100%;
}
@media(max-width:1280px){
    .offers{
        padding: 0px 90px;
        margin-bottom: 80px;
        margin-top: -30px;
        width: 800px;
    }
    .offers-left h1{
        font-size: 40px;
        margin-bottom: 0px;
    }
    .offers-left p{
        font-size: 18px;
        
    }
    .offers-right img{
         width: 250px;
    }
    .offers-left button{
        width: 220px;
        height: 50px;
        font-size: 18px;
    }
    .offers-right{
        padding-top: 30px;
    }
}
@media(max-width:1024px){
    .offers{
        margin-bottom: 60px;
        height: 40vh;
        width: 600px;
        margin-top: -50px;

    }
    .offers-left h1{
        font-size: 28px;
    }
    .offers-left p{
        font-size: 16px;
    }
    .offers-right img{
         width: 160px;
    }
    .offers-left button{
        width: 140px;
        height: 40px;
        font-size: 16px;
    }
    .offers-right{
        padding-top: 10px;
    }
}
@media(max-width:800px){
    .offers{
        padding: 0 60px;
        width: 500px;
        height: 32vh;
        margin-bottom: 50px;
        margin-top: -200px;
    }
    .offers-left h1{
        font-size: 20px;
      
    }
    .offers-left p{
        font-size: 14px;
       
    }
    .offers-right img{
         width: 130px;
       
    }
    .offers-left button{
        width: 120px;
        height: 30px;
        font-size: 10px;
    }
    .offers-right{
        padding-top: 10px;
    }
}
@media(max-width: 560px){
    .offers{
        padding: 0 90px;
       
        width: 400px;
        margin-bottom: 50px;
       
    }
    .offers-left h1{
        font-size: 16px;
    }
    .offers-left p{
        font-size: 10px;
    }
    .offers-right img{
         width: 130px;
    }
    .offers-left button{
        width: 120px;
        height: 30px;
        font-size: 10px;
    }
    .offers-right{
        padding-top: 10px;
    }
}
@media(max-width: 480px) {
    .offers {
        padding: 0 40px; /* Adjust padding */
        width: 85%; /* Full width */
        height: auto; /* Adjust height as needed */
        margin-bottom: 50px; /* Adjust margin */
        margin-top: -190px; /* Adjust as needed */
    }
    .offers-left h1 {
        font-size: 12px; /* Smaller font size */
    }
    .offers-left p {
        font-size: 8px; /* Smaller font size */
    }
    .offers-right img {
        width: 100px; /* Adjust image size */
    }
    .offers-left button {
        width: 100px; /* Adjust button size */
        height: 25px; /* Adjust height */
        font-size: 8px; /* Smaller font size */
        margin-top: 5px;
    }
    .offers-right {
        padding-top: 10px; /* Adjust padding */
    }
}
