.loginsignup{
    width:100%;
    height:80vh;
    background: rgb(249, 224, 249);
    padding-top: 80px;
}
.login-container{
    width: 500px;
    height: 500px;
    background-color: rgb(250, 238, 253);
    margin: auto;
    padding: 30px 70px;
}
.login-container h1{
    margin: 1px 0;
}
.loginsignup-field{
    display:flex;
    flex-direction: column; 
    gap:15px;
    margin-top: 50px;
}
.loginsignup-field input{
    height: 40px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid rgb(250, 246, 252);
    outline: none;
    color:rgb(108, 105, 105);
    font-size: 15px;
}
.login-container button{
    width: 450px;
    height: 40px;
    color: rgb(52, 37, 12);
    background-color: rgb(249, 224, 249);
    border: none;
    margin: 30px 40px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.login-container button:checked{
    background-color: rgb(240, 112, 221);
}
.login{
    font-size: 15px;
    font-weight: 300;
    color: rgb(67, 65, 65);
    padding: 10px;
}
.login span{
    color:rgb(202, 43, 43);
    font-weight: 600;
}
.login-agree{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    color:rgb(102, 100, 100);
    font-size: 14px;
    font-weight: 500;
}
@media(max-width:1280px) {
    .login{
        padding-top: 60px;
    }
    .login-container{
        width: auto;
        max-width: 500px;
        max-height: 500px;
    }
    .login-container h1{
        margin: 10px 0px;
    }
    .loginsignup-field{
        gap: 7px;
        margin-top: 10px;
    }
    .loginsignup-field input{
        height: 40px;
        width: 90%;;
    }
    .login-container button{
        width: 80%;
    }
    .loginsignup-agree{
        font-size: 14px;
        gap: 10px;
    }
}

@media (max-width: 800px) {
    .loginsignup {
        padding-top: 60px;
    }
    .login-container {
        padding: 30px;
    }
    .login-container h1{
        font-size: 24px;
    }
    .loginsignup-field {
        padding-top: 10px;
    }
    .loginsignup-field input{
        width: 85%;
        height: 40px;
    }
    .login-container button {
        width: 300px;
        margin: 30px 70px;
        font-size: 16px;
    }
    .login{
        padding: 10px;
    }
    .login-agree {
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .loginsignup {
        padding-top: 60px;
    }
    .login-container {
        width: auto;
        max-width: 90%;
        max-height: 70%;
        padding: 40px;
    }
    .login-container button {
        width: 150px;
        margin: 20px 50px;
    }
    .login{
        padding-top: 10px;
        font-size: 15px;
    }
    .loginsignup-field input{
        width: 75%;
        height: 40px;
    }
    .login-agree {
        margin-top: 10px;
    }
}