.descriptionbox{
    margin: 120px 100px;
}
.des-nav{
    display: flex;
}
.des-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width:150px;
    height: 40px;
    border: 1px solid rgb(159, 162, 163);
}
.des-nav-box.fade{
    background-color: rgb(245, 243, 240);
    color:rgb(125, 118, 118)

}
.des-des{
    display: flex;
    flex-direction: column;
    gap:24px;
    border:1px solid rgb(193, 190, 190);
    padding: 40px;
    padding-bottom: 40px;
    font-size: 14px;
}