.bread{
    display: flex;
    align-items: center;
    gap: 8px;
    color:rgb(56, 54, 54);
    font-size: 17px;
    font-weight: 300;
    margin: 30px 130px;
    text-transform: capitalize;
}
@media(max-width:1280px){
    .bread{
        margin: 30px 50px;
        font-size: 14px;
    }
}
@media(max-width:1024px){
    .bread{
        margin: 30px 30px;
        font-size: 13px;
    }
}
@media(max-width:800px){
    .bread{
        margin: 30px 20px;
        font-size: 12px;
    }
}
@media(max-width:500px){
    .bread{
        margin: 30px 10px;
        font-size: 11px;
    }
}